@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --text-primary: #ffffff;
  --sky-clear: rgb(148, 208, 228);
  --ocean-clear: rgb(88, 110, 255);
}

* {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}

.sky {
  background-color: var(--sky-clear);
  height: 80vh;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-primary);
  padding-top: 5vh;
  font-size: 2rem;
  font-weight: 700;
}

.main-header p {
  text-align: center;
  font-size: 2rem;
}

.sea {
  height: 20vh;
  background-color: var(--ocean-clear);
}

.coords-form {
  display: flex;
  justify-content: center;
}

.coords-form #lat-input,
#long-input {
  width: 20vw;
}

.waves {
  margin-top: 56.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 2.25vh;
}

.boat {
  position: absolute;
  bottom: 19vh;
  height: 15vh;
  width: 15vh;
}

.wave1 {
  position: absolute;
  height: 2.25vh;
}

.wave2 {
  position: absolute;
  height: 1.35vh;
}
